<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agrimerkezi.ybuglukoztakibi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InfuzyonDozu"
            android:label="@string/infuzyon_dozu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Klavuz"
            android:label="@string/klavuz" >
        </activity>
        <activity
            android:name=".BolusDoz"
            android:label="@string/bolus_doz" >
        </activity>
    </application>

</manifest>
